/* 
Author: Tom Petty
anothertompetty.com
Copyright 2014
*/

/* reset */

body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, blockquote {
	margin: 0; padding: 0; border: 0;
}

/* base/master */

*, *:before, *:after {
	-webkit-box-sizing: border-box; 
 	   -moz-box-sizing: border-box; 
	        box-sizing: border-box;
}

body
{
	font-family: "museo-sans-1", "museo-sans-2", helvetica, arial, sans-serif;
	font-style: normal;
	font-weight: 100;
	font-size: 18px;
	line-height: 150%;
	text-align: center;
	color: #000;
	-webkit-font-smoothing: antialiased;    
}

ul {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto !important;
}

img a
{
	text-decoration: none;
}

/*layout styles*/

.contain {
	position: relative;
	width: 90%;
	margin: 0 auto;
	padding: 0px 20px;
}

header {
	padding: 20px 0px;
}

h1 {
	color: #fff;
	text-transform: uppercase;
	font-size: 18px;
}

header ul {
	text-align: center;
	width: 100%;	
}

header ul li {
	padding-top: 20px;
}

section.handshake {
	padding-bottom: 80px;
}

section, .recent-work, .recent-writing, footer.contain {
	position: relative;
	padding: 40px 0px;
}

.recent-work {
	border-bottom: 1px #000 solid;
}

.recent-work img {
	margin-bottom: 12px;
}

.selected-clients img {
	max-width: 60px;
	margin-top: 20px;
	margin-right: 20px;
}

.selected-clients img:last-child {
	margin-right: 0px;
}

/*helpers*/

.push-down {
	margin-bottom: 20px;
}

/*type*/

h2 {
	color: #fff;
	font-weight: 100;
	font-size: 24px;
	line-height: 125%;
	margin-bottom: 20px;
}

h3 {
	margin-bottom: 20px;
}

a:link, a:visited, a:hover, a:active {
	text-decoration: none;
	font-weight: 900;
	color: #fff;
}

a:hover, a:active {
	border-bottom: 1px #fff solid;
}

.dark-text a:link, .dark-text a:visited, .dark-text a:hover, .dark-text a:active {
	color: #000;
}

.dark-text a:hover, .dark-text a:active {
	border-bottom: 2px #000 solid;
}

/*palette*/

.dark {
	background-color: #000;
}

.dark-text {
	color: #000;
}

.light {
	background-color: #EFECE7;
}

.light-text {
	color: #EFECE7;
}

/*non-mobile styles*/

/*620 up*/
@media only screen and (min-width:620px) {

.contain {
	width: 620px;
}

h1 {
	position: absolute;
	display: inline-block;
	left: 20px;
	right: auto;
	color: #fff;
	text-transform: uppercase;
	font-size: 18px;
}

header ul {
	position: absolute;
	display: inline-block;
	background-color: transparent;
	margin-right: 20px;
	margin-top: -27px;
	left: auto;
	right: 0px;
	z-index: 10;
	width: auto;
}

header ul li {
	display: inline-block;
	padding: 0;
	margin-left: 20px;
}

.selected-clients img {
	max-width: 100%;
	margin-right: 120px;
}

.selected-clients img:last-child {
	margin-right: 0px;
}

/*type*/

h2 {
	font-size: 36px;
	line-height: 115%;
}
    
}

/*920 up*/
 @media screen and (min-width:920px) {

.contain {
	width: 920px;
}

.recent-work img {
	max-width: 280px;
	margin-right: 15px;
}

.recent-work img:last-child {
	margin-right: 0px;
}

}

/*1220 up*/
@media only screen and (min-width:1220px) {

.contain {
	width: 1220px;
}

.recent-work img {
	max-width: 380px;
}

}