/* 
Author: Tom Petty
anothertompetty.com
Copyright 2014
*/

/* reset */

body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, blockquote {
	margin: 0; padding: 0; border: 0;
}

/* base/master */

*, *:before, *:after {
	-webkit-box-sizing: border-box; 
 	   -moz-box-sizing: border-box; 
	        box-sizing: border-box;
}

.cf:before, .cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

body
{
	font-family: "museo-sans-1", "museo-sans-2", helvetica, arial, sans-serif;
	font-style: normal;
	font-weight: 100;
	font-size: 18px;
	line-height: 150%;
	text-align: center;
	color: #000;
	background-color: #EFECE7;
	-webkit-font-smoothing: antialiased;    
}

ul {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto !important;
}

img a
{
	text-decoration: none;
}

/*layout styles*/

.contain {
	position: relative;
	width: 90%;
	margin: 0 auto;
	padding: 0px 20px;
}

header {
	position: fixed;
	z-index: 100;
	width: 100%;
	margin: 0 auto;
	padding: 20px 0px;
	top: 0;
}

.header-dark {
	background-color: rgba(0,0,0,0.7);
	-webkit-transition: all .3s;
	   -moz-transition: all .3s;
	     -o-transition: all .3s;
	        transition: all .3s;
}

.header-dark:hover {
	background-color: rgba(0,0,0,1);
}

#menu-icon {
	position: absolute;
	display: inline-block;
	width: 18px;
	height: 12px;
	left: auto;
	right: 20px;
	top: 7px;
	background-image: url('../img/assets/hamburger.svg');
	background-repeat: no-repeat;
	text-indent: -9999px;
}

#menu-icon:hover {
	cursor: pointer;
}

header ul {
	display: none;
	text-align: center;
	width: 100%;	
}

header ul li {
	padding-top: 20px;
}

section, .recent-work, .recent-writing, .my-services, footer.contain {
	position: relative;
	padding: 40px 0px;
}

section.handshake {
	padding-bottom: 40px;
	padding-top: 107px;
}

.more-about-me {
	position: relative;
	display: none;
	width: 80%;
	margin: 0 auto;
	margin-top: 40px;
	color: #EFECE7;
}

.col-1, .col-2, .col-3 {
	position: relative;
	display: block;
	margin-bottom: 20px;
}

.recent-work {
	border-bottom: 1px #000 solid;
}

.recent-work img, .my-services img {
	margin-bottom: 10px;
}

.selected-clients img {
	max-width: 60px;
	margin-top: 20px;
	margin-right: 20px;
}

.selected-clients img:last-child {
	margin-right: 0px;
}

footer {
	font-size: 14px;
}

/*work*/

.all-work, .all-work-first {
	width: auto;
}

.all-work-first {
	margin-top: 60px;
}

.left-big-image, .right-big-image {
	position: relative;
	display: inline;
}

.left-big-image, .right-small-image, .left-small-image, .left-top {
	margin-bottom: 12px;
}

.case-study {
	margin-top: 60px;
	padding-left: 0px;
	padding-right: 0px;
}

.case-study img, .video {
	margin: 5px 0px;
}

.case-study p {
	max-width: 680px;
	margin: 0 auto;
	margin-bottom: 20px;
}

.case-study p.left {
	max-width: 580px;
	text-align: left;
	margin-left: 0px;
} 

.case-study p.right {
	max-width: 580px;
	text-align: left;
	margin-right: 0px;
}

/*helpers*/

.push-down {
	margin-bottom: 20px;
}

.stick-right {
	position: absolute;
	left: auto;
	right: 20px;
}

/*type*/

h1 {
	color: #EFECE7;
	text-transform: uppercase;
	font-size: 18px;
}

h2 {
	color: #EFECE7;
	font-weight: 100;
	font-size: 24px;
	line-height: 125%;
	margin-bottom: 20px;
}

.project-title {
	font-weight: 900;
}

h3 {
	font-size: 18px;
	margin-bottom: 20px;
}

.recent-work p {
	font-weight: 300;
	margin-bottom: 40px;
}

.handshake p {
	font-weight: 300;
}

.expand {
	color: #EFECE7;
	font-weight: 900;
}

.expand:hover {
	cursor: pointer;
}

a:link, a:visited, a:hover, a:active {
	text-decoration: none;
	font-weight: 900;
	color: #EFECE7;
	-webkit-transition: all .3s;
	   -moz-transition: all .3s;
	     -o-transition: all .3s;
	        transition: all .3s;
}

a:hover, a:active, .expand:hover {
	border-bottom: 1px #EFECE7 solid;
}

.dark-text a:link, .dark-text a:visited, .dark-text a:hover, .dark-text a:active {
	color: #000;
	border-bottom: 1px #000 solid;
}

.dark-text a:hover, .dark-text a:active {
	border-bottom: 1px #000 solid;
}

a.launch {
	display: block;
	margin-top: 10px;
	margin-bottom: 20px;
	color: #000;
	padding: 10px 15px;
	border: 3px #000 solid;
}

a.launch:hover {
	color: #EFECE7;
	background-color: #000;
	border: 3px #000 solid;	
}

/*palette*/

.dark {
	background-color: #000;
}

.dark-text {
	color: #000;
}

.light {
	background-color: #EFECE7;
}

.light-text {
	color: #EFECE7;
}

.yellow {
	background-color: rgb(254,210,109);
}

.yellow-text {
	color: rgb(254,210,109);
}

.red {
	background-color: rgb(251,126,93);
}

.red-text {
	color: rgb(251,126,93);
}

.purple {
	background-color: rgb(135,160,204);
}

.purple-text {
	color: rgb(135,160,204);
}

.green {
	background-color: rgb(146,219,143);
}

.green-text {
	color: rgb(146,219,143);
}

/*non-mobile styles*/

/*620 up*/
@media only screen and (min-width:620px) {

.contain {
	width: 620px;
}

h1 {
	position: absolute;
	display: inline-block;
	left: 20px;
	right: auto;
}

header {
	padding-bottom: 40px;
}

#menu-icon {
	display: none;
}

header ul {
	position: absolute;
	display: inline-block;
	background-color: transparent;
	margin-right: 20px;
	left: auto;
	right: 0px;
	z-index: 10;
	width: auto;
}

header ul li {
	display: inline-block;
	padding: 0;
	margin-left: 20px;
}

.selected-clients img {
	max-width: 100%;
	margin-right: 120px;
}

.selected-clients img:last-child {
	margin-right: 0px;
}

/*work*/

.case-study img, .video {
	margin: 20px 0px;
}

a.launch {
	width: 33%;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 20px;
}

/*type*/

h2 {
	font-size: 36px;
	line-height: 120%;
}
    
}

/*920 up*/
 @media screen and (min-width:920px) {

.contain {
	width: 920px;
}

.more-about-me {
	width: 900px;
}

.col-1, .col-2, .col-3 {
	margin-right: 20px;
	text-align: center;
	position: relative;
	display: inline;
	width: 280px;
	float: left;
}

.col-1 {
	margin-left: 20px;
}

.recent-work a, .my-services img {
	max-width: 280px;
	margin-right: 15px;
}

.recent-work a {
	display: inline-block;
}

.recent-work a:last-child, .my-services img:last-child {
	margin-right: 0px;
}

/*work*/

.all-work {
	margin-top: 8px;
}

.left-big-image, .right-big-image {
	width: 580px;
	display: inline;
}

.left-big-image {
	margin-right: 20px;
	float: left;
}

.right-big-image {
	float: right;
	vertical-align: top;
}

.right-small-image {
	width: 280px;
	vertical-align: top;
	display: inline;
}

.left-small-image {
	width: 280px;
	margin-right: 20px;
	float: left;
}

.top {
	margin-bottom: 20px;
}

/*type*/

h2, .recent-work p {
	width: 90%;
	margin: 0 auto;
	margin-bottom: 20px;
}

.recent-work p {
	margin-bottom: 40px;
}

}

/*1220 up*/
@media only screen and (min-width:1220px) {

.contain {
	width: 1220px;
}

.more-about-me {
	width: 1200px;
}

.col-1, .col-2, .col-3 {
	width: 380px;
	float: left;
}

.recent-work a, .my-services img {
	max-width: 380px;
}

/*work*/

.left-big-image, .right-big-image {
	width: 780px;
}

.right-small-image {
	width: 380px;
}

.left-small-image {
	width: 380px;
}

.case-study p.left {
	margin-left: 20px;
}

.case-study p.right {
	margin-right: 20px;
}

/*type*/

h2, .recent-work p {
	width: 75%;
}

}