body {
  font-family: $primary-font, 'helvetica neue', helvetica, arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: $color-dark;
  background-color: $color-light;
}

.container {
  max-width: 600px;
  position: relative;
  margin: 0 auto;
  margin-top: $large-space + 18px;
  margin-bottom: $large-space;
  padding: 0px 20px; 
}

@media screen and (max-width: 480px) {
  .container {
    padding: 0px 10px;
    margin-top: 10px;
  }
}

.container img,
.container video {
  width: 100%;
}

.container--small {
  max-width: 600px;
}

.project,
.section {
  position: relative;
  margin-bottom: $large-space;
  padding-bottom: $large-space;
  border-bottom: 2px solid $color-highlight;
}

.project img {
  margin-bottom: $medium-space;
  opacity: 0;
  transition: opacity .3s ease-in;
}

.avatar {
  width: 300px !important; 
  height: 200px !important;
}

@media screen and (max-width: 480px) {
  .avatar {
    width: 100% !important;
    height: 100% !important;
  }
}

.avatar:hover {
  -webkit-animation: blur .13s 0s ;
  animation: blur .13s 0s 2;
}

@keyframes blur {
  0% {
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
  }
  50% {
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
  }
  100% {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
  }
}

.video {
  margin-bottom: 11px;
}

.carousel {
  cursor: ew-resize;
}