body {
  font-family: $primary-font, 'helvetica neue', helvetica, arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: $color-dark;
  background-color: #f8f8f8;
}

@media screen and (max-width: 480px) {
  body {
    font-size: 17px;
    line-height: 28px;
  }
}

::selection {
  background: $color-highlight;
  color: white;
}
::-moz-selection {
  background: $color-highlight;
  color: white;
}
