.avatar-fig,
.project-fig, 
.video {
  margin-top: 25px;
  margin-bottom: 20px;
}

.avatar-fig {
  margin-bottom: 40px;
}

@media screen and (max-width: 480px) {
  .avatar-fig {
    margin-bottom: 12px;
  }
}

.project-fig img { //unveil styles
  opacity: 0;
  transition: opacity .3s ease-in;
}

figcaption {
  font-size: 12px;
  line-height: 18px;
  color: $color-medium;
}

.caption-carousel {
  margin-top: -32px;
}