@font-face {
  font-family: 'MaisonNeue-Book';
  src: url('http://anothertompetty.com/fonts/MaisonNeue-Book.woff2') format('woff2'),
       url('http://anothertompetty.com/fonts/MaisonNeue-Book.woff') format('woff'),
       url('http://anothertompetty.com/fonts/MaisonNeue-Book.ttf') format('truetype'),
}

@font-face {
  font-family: 'MaisonNeue-Demi';
  src: url('http://anothertompetty.com/fonts/MaisonNeue-Demi.woff2') format('woff2'),
       url('http://anothertompetty.com/fonts/MaisonNeue-Demi.woff') format('woff'),
       url('http://anothertompetty.com/fonts/MaisonNeue-Demi.ttf') format('truetype'),
}

@font-face {
  font-family: 'MaisonNeue-Bold';
  src: url('http://anothertompetty.com/fonts/MaisonNeue-Bold.woff2') format('woff2'),
       url('http://anothertompetty.com/fonts/MaisonNeue-Bold.woff') format('woff'),
       url('http://anothertompetty.com/fonts/MaisonNeue-Bold.ttf') format('truetype'),
}