@font-face {
  font-family: 'Akkurat';
  font-style: normal;
  font-weight: 400;
  src: local('Akkurat'), url(/app/scss/Akkurat.woff) format('woff');
}

@font-face {
  font-family: 'Akkurat-bold';
  font-style: normal;
  font-weight: 700;
  src: local('Akkurat-bold'), url(/app/scss/Akkurat-bold.woff) format('woff');
}