@import "normalize";
@import "variables";
@import "utils";
@import "type";

// -----------------------------------------------------------

body {
  font-family: $primary-font, georgia, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: $color-dark;
  background-color: $color-light;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

.container {
	max-width: 680px;
	position: relative;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 0px 20px; 
}

@media screen and (max-width: 680px) {
  
  .container {
    margin-top: 15px;
  }

}

.container img {
  width: 100%;
}

.project,
.section {
  position: relative;
  margin-bottom: $large-space;
  padding-bottom: $large-space;
  border-bottom: 2px solid $color-highlight;
}

.project img {
  margin-bottom: $medium-space;
  opacity: 0;
  transition: opacity .3s ease-in;
}