.project,
.section {
  position: relative;
  margin-bottom: $large-space;
  padding-bottom: $large-space;
  border-bottom: 1px solid $color-highlight;
}

.section__top {
  padding-bottom: $medium-space;
}