html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

// links

a, 
a:link, 
a:visited, 
a:hover, 
a:active {
  text-decoration: none;
  font-family: $primary-font;
  color: $color-dark;
  padding-bottom: 1px;
  border-bottom: 1px solid $color-link;
  transition: all 0.1s;
}

a:hover, 
a:active {
  color: $color-link;
}

a.link--plain {
  text-decoration: none;
  color: $color-dark;
  border: none;
}

// Link iconography

a[rel="external"]::after {
  content: " \A0\A0\A0\A0";
  background-image: url(/img/link_after.png);
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 1px;
}

a[rel="words"]::after {
  content: " \A0\A0\A0\A0";
  background-image: url(/img/words.png);
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 3px;
}

a[rel="work"]::after {
  content: " \A0\A0\A0\A0";
  background-image: url(/img/work.png);
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 3px;
}

// Text styles

h1,
h2 {
  font-family: $bold-font;
}

p {
  margin: 0px;
  margin-bottom: $medium-space;
}

p.last {
  margin: 0;
}

.text--title {
  font-family: $bold-font;
  font-size: 18px;
  line-height: 28px;
  margin-top: 0px;
  margin-bottom: 10px;
  display: inline-block;
}

// lists

ul,
li {
  margin: 0px;
  padding: 0px;
  list-style: none;
}