@import "variables";

// -----------------------------------------------------------

// LAYOUT

.u-cf {
  &:before,
  &:after {
    display: table;
    content: " ";
  }
  &:after {
    clear: both;
  }
}

.u-pull-start {
  float: left;
}

.u-pull-end {
  float: right;
}

.u-relative {
  position: relative;
}

.u-center {
  margin-left: auto;
  margin-right: auto;
  display: block;
  float: none;
}

.u-align-top {
  vertical-align: top;
}

.u-align-middle {
  vertical-align: middle;
}

.u-align-baseline {
  vertical-align: baseline;
}

.u-align-bottom {
  vertical-align: bottom;
}

// SIZE

.u-margin-Tl {
  margin-top: $large-space;
}

.u-margin-Tm {
  margin-top: $medium-space;
}

.u-margin-Ts {
  margin-top: $small-space;
}

.u-margin-Rl {
  margin-top: $large-space;
}

.u-margin-Rm {
  margin-top: $medium-space;
}

.u-margin-Rs {
  margin-top: $small-space;
}

.u-padding-Rl {
  padding-top: $large-space;
}

.u-padding-Rm {
  padding-top: $medium-space;
}

.u-padding-Rs {
  padding-top: $small-space;
}

// WIDTH

.u-size-1of2 {
  width: 50%;
}

.u-size-1of3 {
  width: 33.3333%;
}

.u-size-2of3 {
  width: 66.6667%;
}

// COLOR


// TYPOGRAPHY

.u-text-normal {
	font-weight: 400;
}

.u-text-heavy {
  font-family: 'Akkurat-bold';
  font-weight: 700;
}

.u-text-small {
  font-size: 14px;
  line-height: 24px;
}

// LINKS