@import "fonts";

$primary-font: 'MaisonNeue-Book', 'Helvetica Neue', 'Helvetica', arial;
$medium-font: 'MaisonNeue-Demi', 'Helvetica Neue', 'Helvetica', arial;
$bold-font: 'MaisonNeue-Bold', 'Helvetica Neue', 'Helvetica', arial;

$color-dark: #111111;
$color-medium: #767676;
$color-light: #F6F0F3;
$color-highlight: #F42B5A;
$color-link: #358CF6;

$large-space: 48px;
$medium-space: 12px;
$small-space: 6px;