@import "fonts";

// -----------------------------------------------------------

$primary-font: 'Akkurat';

$color-dark: #231C22;
$color-middle: #BAB8BA;
$color-light: #EDEDED;
$color-highlight: yellow;

$large-space: 20px;
$medium-space: 10px;
$small-space: 5px;