<header class="header-dark">
	
	<div class="contain">
	
		<h1><a href="index.html">Tom Petty</a></h1>
	
		<span id="menu-icon">Menu</span>
	
		<ul class="nav">
			<li><a href="index.html"><span class="yellow-text {% if page.url == '/index.html' %}work-link{% endif %}">Work</span></a></li>
			<li><a href="words.html"><span class="green-text {% if page.url == '/words.html' %}words-link{% endif %}">Words</span></a></li>
			<li><a href="profile.html"><span class="red-text {% if page.url == '/profile.html' %}profile-link{% endif %}">Profile</span></a></li>
			<li><a href="mailto:hello@nothertompetty.com"><span class="purple-text">Contact</span></a></li>
		</ul>
	
	</div>
	
</header>